.container {
    position: relative;
    width: 100%;
    margin-block: 1rem;
}

.container_disabled {
    opacity: 0.2;
    pointer-events: none;
}

.text_input {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color-pri);
    padding-left: 10px;
    border: none;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 1.3rem;
    outline: none; 
}

.date_input {
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--text-color-pri);
    padding-left: 10px;
    font-size: 1.3rem;
    border: none;
}

.placeholder {
    position: absolute;
    color: #5e53f7;
    font-size: 1.3rem;
    top: 50%;
    padding-left: 10px;
    transform: translateY(-50%);
    transition: all 0.3s;
    pointer-events: none;
}

.placeholder_up,
.text_input:focus ~ .placeholder {
    top: 0%;
    transform: translateY(-100%);
    font-size: 1rem;
}

.icon {
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.input_error {
    border: 2px solid #ff0000;
}

.text_error {
    position: absolute;
    top: 100%;
    color: #ff0000;
    font-size: 1rem;
}