:root {
  --bg-color: #878ea5;
  --text-color: #000000;
  --text-color-pri: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  color: var(--text-color);
  background: var(--bg-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  position: relative;
  width: 80%;
  height: 100vh;
  margin: auto;
  padding: 1rem 2rem;
  gap: 1rem;
}

.loading {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 13rem;
  height: 13rem;
  border: 1.5rem solid var(--text-color);
  border-top-color: var(--text-color-pri);
  border-left-color: var(--text-color-pri);
  border-right-color: var(--text-color-pri);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}