.title {
    width: 100%;
    text-align: center;
    font-size: 3rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.table_title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    text-align: left;
    padding-block: 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    border: 2px solid var(--text-color);
    color: var(--text-color);
}

.table_data {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;
    align-items: left;
    gap: 0.5rem;
    padding-block: 1rem;
    padding-inline: 0.5rem;
    background-color: var(--text-color);
    border-bottom: 2px solid var(--text-color-pri);
    color: var(--text-color-pri);
}

.section_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.options {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: 1rem;
    gap: 0.5rem;
}